<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baperin</title>
    <link rel="stylesheet" href="/style/style.css" />
</head>

<body class="backgroundBodyAlert">
    <div class="alertOrderPendingRow">
        <div class="alertPassOrderPendingContainer">
            <div class="alertPassOrderPendingItem">
                <p class="alertPassOrderPendingItemHeader">Terima Kasih</p>
                <p class="alertPassOrderPendingContent">Pesanan anda sedang diproses, informasi terbaru akan disend via email</p>
                <input type="submit" value="Okay" name="Okay" class="btnOkay" onclick="window.location.href='/';" />
            </div>
        </div>
    </div>
    <%- include('footer'); %>
</body>

</html>