<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baperin</title>
    <link rel="stylesheet" href="/style/style.css" />
</head>

<body class="backgroundBodyAlert">
    <div class="alertFullScheduleRow">
        <div class="alertPassFullScheduleContainer">
            <div class="alertPassFullScheduleItem">
                <p class="alertPassFullScheduleItemHeader">Oopss!</p>
                <p class="alertPassFullScheduleContent">Mohon maaf, jadwal yang kamu pilih sudah full :(</p>
                <input type="submit" value="Okay" name="Okay" class="btnOkay" onclick="window.location.href='/';" />
            </div>
        </div>
    </div>
    <%- include('footer'); %>
</body>

</html>