<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baperin</title>
    <link rel="stylesheet" href="/style/style.css" />
</head>

<body class="backgroundBodyAlert">
    <div class="askToCheckEmailRow">
        <div class="askToCheckEmailContainer">
            <div class="askToCheckEmailItem">
                <p class="askToCheckEmailItemHeader">Terima Kasih</p>
                <p class="askToCheckEmailContent">Silakan cek email kamu untuk mengubah kata sandi</p>
                <input type="submit" value="Okay" name="Okay" class="btnOkay" onclick="window.location.href='/login';" />
            </div>
        </div>
    </div>
    <%- include('footer'); %>
</body>

</html>