<header class="baperinNavbar">
    <img src="image/logo.png" alt="logo" class="baperinLogo">
    <nav class="baperinNavigation">
        <ul class="baperinNavLinks">
            <li><a href="/adminCounselingPage">Konseling</a></li>
            <li><a href="/adminMentoringPage">Mentoring</a></li>
        </ul>
    </nav>
    <% if (locals.isLoggedIn) { 
        %>
        <button class="btnLogin " onclick="window.location.href='/logout' ; ">Logout</button>
        <% 
        } else {
            %>
            <button class="btnLogin " onclick="window.location.href='/login' ; ">Masuk</button>
            <% 
        } %>
</header>