<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baperin</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <div class="changePasswordContainer">
        <header class="headChangePassword">
            <h1>Ubah kata sandimu di sini!</h1>
        </header>
        <form class="changePassword" method="post" action="/change-password/<%= username %>">
            <div class="form-password">
                <input type="password" class="inputPassword" name="password" required placeholder="Masukan Kata Sandi Baru">
                <i class="material-icons visibilityPassword">visibility_off</i>
            </div>
            <div class="form-password">
                <input type="password" class="inputConfirmPassword" name="confirmPassword" required placeholder="Masukan Ulang Kata Sandi Baru">
                <i class="material-icons visibilityConfirmPassword">visibility_off</i>
            </div>
            <p class="errorStyle"><%= errors %></p>
            <input type="submit" name="commit" value="Ubah Kata Sandi" name="changePassword" class="btnChangePassword">
        </form>
        <p>Kembali ke laman <a class="back-login" href="/login">Masuk Disini</a></p>
    </div>
    <%- include('footer'); %>
        <script src="script/toggleEye.js "></script>
</body>

</html>