<div class="footerContainer">
    <div class="footerInformation">
        <div class="baperinInformation">
            <h3 class="headFooterInformation">Baperin</h3>
            <p class="contentFooterInformation">Baperin merupakan layanan kesehatan mental dalam ruang lingkup UPNVJ yang mempunyai 2 layanan, yaitu Mentoring dan Konseling</p>
        </div>
        <div class="baperinCustomerService">
            <h3 class="headFooterInformation">Customer Service</h3>
            <p class="contentFooterInformation">081111111111</p>
            <h3 class="headFooterInformation">Email</h3>
            <p class="contentFooterInformation">baperinupnvj@gmail.com</p>
        </div>
        <div class="baperinService">
            <h3 class="headFooterInformation">Layanan</h3>
            <div class="contentFooterInformation">
                <li>Mentoring</li>
                <li>Konseling</li>
            </div>
        </div>
    </div>
    <div class="footerMain">
        <p>Copyright © 2021 Kelompok 3 Praktikum Pemrograman Web UPN Veteran Jakarta. All rights reserved.</p>
    </div>
</div>