<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baperin</title>
    <link rel="stylesheet" href="/style/style.css" />
</head>

<body>
    <div class="forgotPasswordContainer">
        <header class="headForgotPassword">
            <h1>Lupa Password?</h1>
        </header>
        <p class="forgotDetail">Masukan email yang terdaftar diakunmu!</p>
        <form class="forgotPassword" method="post" action="/forgot-password">
            <div class="form-group">
                <input type="email" id="input-email" name="email" required placeholder="Masukan Email" autocomplete="off">
            </div>
            <p><%= errors %></p>
            <input type="submit" name="commit" value="Kirim Email Verifikasi" name="sendEmailVerification" class="btnSendEmailVerification">
        </form>
        <p>Kembali ke laman <a class="back-login" href="/login">Masuk Disini</a></p>
    </div>
    <%- include('footer'); %>
</body>

</html>