<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baperin</title>
    <link rel="stylesheet" href="/style/style.css" />
</head>

<body class="bodyOrderDetail">
    <div class="wrapper">
        <div class="orderDetailContainer">
            <header class="headOrderDetail">
                <h1>Selamat Pemesanan Kamu Berhasil</h1>
            </header>
            <table>
                <tr>
                    <th class="orderDetailTitle">Layanan</th>
                    <td class="orderDetailContent">Mentoring</td>
                </tr>
                <tr>
                    <th class="orderDetailTitle">Mentor/Konselor</th>
                    <td class="orderDetailContent">Ucup Van Hellsing</td>
                </tr>
                <tr>
                    <th class="orderDetailTitle">Hari/Tanggal</th>
                    <td class="orderDetailContent">Senin, 18 Oktober 2021</td>
                </tr>
                <tr>
                    <th class="orderDetailTitle">Pukul</th>
                    <td class="orderDetailContent">20.00-21.00</td>
                </tr>
            </table>
            <form class="orderDetail">
                <input type="submit" name="orderDetail" value="Okay" class="btnOkay">
            </form>
        </div>
        <p class="orderDetailCallCenter">Untuk pembatalan pemesanan bisa menghubungi customer service
            <font class="orderDetailHighLight">Baperin</font> di 0811111111</p>
    </div>
    <%- include('footer'); %>
</body>

</html>