<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baperin</title>
    <link rel="stylesheet" href="/style/style.css" />
</head>

<body>
    <%- include('baperinNavbar'); %>
        <div class="profilePsychologistRow">
            <div class="profilePsychologistContainer">
                <div class="profilePsychologistItem">
                    <img class="profilePsychologistItemVector" src="image/Valentino.png" alt="Avatar">
                    <h3 class="profilePsychologistItemHead">Valentino Subagjo</h3>
                    <p class="profilePsychologistItemEmail">valentino@gmail.com</p>
                    <p class="profilePsychologistItemGender">Laki-Laki</p>
                    <p class="profilePsychologistItemInformation">saya sudah menjadi psikolog berpengalaman sejak tahun 2021, selama ini saya sudah menyelesaikan banyak masalah terkait produktivitas, depresi, dan sebagainya.</p>
                    <p class="profilePsychologistItemAge">53 Tahun</p>
                </div>
            </div>
        </div>
        <div class="profilePsychologistScheduleRow">
            <p class="profilePsychologistItemSchedule">Jadwal</p>
            <div class="profilePsychologistItemRowContainer">
                <div class="profilePsychologistItemRow">
                    <p class="profilePsychologistItemTitle">Waktu</p>
                    <div class="profilePsychologistItemContent">
                        <p>10.00-11.40 WIB</p>
                        <p>13.00-14.40 WIB</p>
                        <p>15.00-16.40 WIB</p>
                    </div>
                </div>
                <div class="profilePsychologistItemRow">
                    <p class="profilePsychologistItemTitle">Hari</p>
                    <div class="profilePsychologistItemContent">
                        <p>+1 Hari</p>
                        <p>+3 Hari</p>
                        <p>+5 Hari</p>
                    </div>
                </div>
            </div>
            <p class="profilePsychologistItemWarning">Hari dihitung berdasarkan hasil jumlah dari hari pemesanan.</p>
        </div>
        <div class="profilePsychologistRow">
            <div class="profilePsychologistContainer">
                <div class="profilePsychologistItem">
                    <img class="profilePsychologistItemVector" src="image/Brad.png" alt="Avatar">
                    <h3 class="profilePsychologistItemHead">Brad Blunder Roam</h3>
                    <p class="profilePsychologistItemEmail">bradblunder@gmail.com</p>
                    <p class="profilePsychologistItemGender">Laki-Laki</p>
                    <p class="profilePsychologistItemInformation">Saya merupakan salah satu Dosen dan Psikolog pendidikan yang berpengalaman dalam bidang kesehatan mental.</p>
                    <p class="profilePsychologistItemAge">35 Tahun</p>
                </div>
            </div>
        </div>
        <div class="profilePsychologistScheduleRow">
            <p class="profilePsychologistItemSchedule">Jadwal</p>
            <div class="profilePsychologistItemRowContainer">
                <div class="profilePsychologistItemRow">
                    <p class="profilePsychologistItemTitle">Waktu</p>
                    <div class="profilePsychologistItemContent">
                        <p>10.00-11.40 WIB</p>
                        <p>13.00-14.40 WIB</p>
                        <p>15.00-16.40 WIB</p>
                    </div>
                </div>
                <div class="profilePsychologistItemRow">
                    <p class="profilePsychologistItemTitle">Hari</p>
                    <div class="profilePsychologistItemContent">
                        <p>+1 Hari</p>
                        <p>+3 Hari</p>
                        <p>+5 Hari</p>
                    </div>
                </div>
            </div>
            <p class="profilePsychologistItemWarning">Hari dihitung berdasarkan hasil jumlah dari hari pemesanan</p>
        </div>
        <div class="profilePsychologistRow">
            <div class="profilePsychologistContainer">
                <div class="profilePsychologistItem">
                    <img class="profilePsychologistItemVector" src="image/Van.png" alt="Avatar">
                    <h3 class="profilePsychologistItemHead">Ucup Van Hellsing</h3>
                    <p class="profilePsychologistItemEmail">ucupvanhellsing@gmail.com</p>
                    <p class="profilePsychologistItemGender">Laki-Laki</p>
                    <p class="profilePsychologistItemInformation">Saya adalah salah satu psikolog terbaik di tingkat Perguruan Tinggi, jika kalian ingin curhat atau punya masalah bisa langsung daftar mentoring bersama saya. See you.</p>
                    <p class="profilePsychologistItemAge">25 Tahun</p>
                </div>
            </div>
        </div>
        <div class="profilePsychologistScheduleRow">
            <p class="profilePsychologistItemSchedule">Jadwal</p>
            <div class="profilePsychologistItemRowContainer">
                <div class="profilePsychologistItemRow">
                    <p class="profilePsychologistItemTitle">Waktu</p>
                    <div class="profilePsychologistItemContent">
                        <p>10.00-11.40 WIB</p>
                        <p>13.00-14.40 WIB</p>
                        <p>15.00-16.40 WIB</p>
                    </div>
                </div>
                <div class="profilePsychologistItemRow">
                    <p class="profilePsychologistItemTitle">Hari</p>
                    <div class="profilePsychologistItemContent">
                        <p>+1 Hari</p>
                        <p>+3 Hari</p>
                        <p>+5 Hari</p>
                    </div>
                </div>
            </div>
            <p class="profilePsychologistItemWarning">Hari dihitung berdasarkan hasil jumlah dari hari pemesanan</p>
        </div>
        <%- include('footerScroll'); %>
</body>

</html>